{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"trailingComma": "es5",
	"arrowParens": "always",
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"importOrder": [
		"^next(/.*)?$",
		"^react(/.*)?$",
		"<THIRD_PARTY_MODULES>",
		"^@/widgets(/.*)?$",
		"^@/features(/.*)?$",
		"^@/shared(/.*)?$",
		"^../",
		"^./",
		"^.*\\.css$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
